
@{
    ViewBag.Title = "BuyProduct";

}

<div id="partialView"></div>
<div id="myDiv">
    <h2>BuyProduct</h2>

    <div id="div1" class="form-horizontal" style="display: none;">

        <form id="first_form" method="post" action="">
            <div class="form-group">
                <input class="form-control" type="hidden" id="Pid" />
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Product Name :</label>
                <input type="text" class="form-control" id="Name" readonly />
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="Price">Selling Price :</label>
                <input type="text" class="form-control" id="SellingPrice" readonly />
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="Discount">Discount :</label>
                <input type="number" class="form-control" id="Discount" readonly />
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Quantity">Quantity :</label>
                <input type="number" class="form-control" id="Qty" required />
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="GST">GST :</label>
                <input type="text" id="txtGST" class="form-control" placeholder="e.g. 5%" />
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" onclick="" class="btn btn-default">Submit</button>
                </div>

            </div>
        </form>

    </div>

    <div>
        <table id='ListData' class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Selling Price</th>
                    <th>Discount</th>
                    <th>Buy Product</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div>
        <h2>Selected Product</h2>
        <table id="record" class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Selling Price</th>
                    <th>Discount</th>
                    <th>Quantity</th>
                    <th>GST</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="form-horizontal form-group">


        <div class="form-group">
            <label class="control-label col-sm-2" for="Total">Total :</label>
            <input type="text" id="sum" readonly class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Payment">Choose Payment Method :</label>
            <select name="Payment" id="PaymentMethod" class="form-control">
                <option disabled selected>--select Payment Method--</option>
                <option value="Cash">Cash</option>
                <option value="Card">Card</option>
                <option value="UPI">UPI</option>
            </select>
            <div class="form-group">
                <input type="hidden" id="hdnId" />
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="MobileNo">Customer Mobile No :</label>
                <input type="text" id="txtMobileNo" class="form-control" />
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" onclick="GetCustomer();" class="btn btn-default">Verify Customer</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myForm" class="form-horizontal" style="display: none;">

        <h1>Register</h1>

        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Customer Name :</label>
            <input type="text" class="form-control" id="txtCustomerName" />
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="NobileNo">Mobile No  :</label>
            <input type="text" class="form-control" id="CMobileNo" />
        </div>

        <div class="form-group">
            <input type="hidden" id="hdnCId" />
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" onclick="SaveCustomer();" class="btn btn-default">Register</button>
            </div>

        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" onclick="closeForm()" class="btn btn-default">Close</button>
            </div>
        </div>

    </div>

    <div class="form-group">
        <br />
        <div class="col-sm-offset-2 col-sm-10">
            <input type="button" id="btnSave" onclick="SaveTransaction();" value="Make Payment" class="bnt btn-block btn-success" style="display: none;" />

        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        GetData();
        $('#first_form').submit(feedTable);


    });

    var totalDiscount = 0;
    var totalGST = 0;

    function GetData() {
            $.ajax({
                type: "GET",
                url: "/Stocks/GetAjaxProductList",
                dataType: 'json',
                contentType: "application/json;",
                success: function (data) {
                   // console.log(data);
                    $('#ListData tbody').empty();
                    $.each(data.data, function (key, item) {
                      //  console.log(item);

                        $('#ListData tbody').append(
                            '<tr><td>' + item.ProductName +
                            '</td><td>' + item.SellingPrice +
                            '</td><td>' + item.Discount +
                            '</td><td onclick="ShowTag(' + item.Id +')"><a href="#">Buy Product</a> ' +
                            '</td></tr>'
                        )
                    });

                }
            });
    }

    function calc_total() {

            var sum = 0;
            $(".total").each(function () {
                sum += parseFloat($(this).text());
            });
        $('#sum').val(sum);


    }

    function feedTable(e) {
        e.preventDefault();
        if (!this.snNo) this.snNo = 1;
        var Name = $('#Name').val(),
            Id = $('#Pid').val(),
            SPrice = $('#SellingPrice').val(),
            Discount = $('#Discount').val(),
            Qty = $('#Qty').val(),
            GST = $('#txtGST').val(),

            BasicAmt = (SPrice * Qty),
            discount = BasicAmt * (Discount / 100),
            gst = (BasicAmt - discount) * (GST / 100),
            totalAmount = BasicAmt - discount + gst;

            totalDiscount = totalDiscount + discount;
        totalGST = totalGST + gst;

            $('#record').append(
                "<tr id='tbUser'><td>" + Id + "</td>" +
                "<td>" + Name + "</td>" +
                "<td>" + SPrice + "</td>" +
                "<td>" + Discount + "</td>" +
                "<td>" + Qty + "</td>" +
                "<td>" + GST + "</td>" +
                "<td class='total'>" + totalAmount + "</td> " +
                "<td><button type = 'button' id='DeleteButton' onclick='Remove()' > Remove</button > </td ></tr > "

            )
        this.snNo += 1;
        calc_total();

        $("#div1").hide();
        $('#Qty').val("");
        $('#txtGST').val("");
        var count = $('#record tr').length-1;
       // console.log(count);
    }

    function ShowTag(id) {
        $("#div1").show();
        $("#Pid").val(id);
        $.ajax({
            type:"POST",
            url: '@Url.Action("GetProductById","Stocks")',
            data: '{Id: ' + JSON.stringify($("#Pid").val()) + '}',
            contentType: 'application/json; charset=utf-8',
            dataType:'json',
            success: function (result) {
                console.log(result);
                $('#Name').val(result.ProductName);
                $('#BasePrice').val(result.BasePrice);
                $('#SellingPrice').val(result.SellingPrice);
                $('#Discount').val(result.Discount);
                $('#Pid').val(result.Id);

                GetData();
            },
            error: function (result) {
                console.log(result);
            }
        });

    }

    function GetCustomer() {

        var number = $("#txtMobileNo").val();

       $.ajax({
            type:"POST",
            url: '@Url.Action("GetCustomerByNumber", "Customer")',
           data: '{MobileNo: ' + JSON.stringify($("#txtMobileNo").val()) + '}',
            contentType: 'application/json; charset=utf-8',
            dataType:'json',
           success: function (result) {
               $('#hdnId').val(result.Id);
               alert("Registered Customer")
               document.getElementById("btnSave").style.display = "block";

            },
           error: function (result) {
               alert("Not registered.!!");
               document.getElementById("myForm").style.display = "block";
              // openForm();

            }
        });
    }

    function SaveTransaction() {
        var count = $('#record tr').length - 1;

        var TItems = new Array();
        $("#record TBODY TR").each(function () {
            var row = $(this);
            var TItem = {};
            TItem.ProductId = row.find("TD").eq(0).html();
            TItem.Qty = row.find("TD").eq(4).html();
            TItem.Price = row.find("TD").eq(6).html();
            TItems.push(TItem);
        });
      //  console.log(TItems);

        $.ajax({
                type: "POST",
                url: '@Url.Action("SaveTransactions", "Transaction")',
                data: '{TotalQty: ' + count +
                    ',TotalAmount: ' + JSON.stringify($('#sum').val()) +
                    ',PayMethod: ' + JSON.stringify($('#PaymentMethod').val()) +
                    ',Id: ' + JSON.stringify($('#hdnId').val()) +
                    ',totalDisc: ' + totalDiscount +
                    ',totalgst: ' + totalGST +
                    ',TItems: ' + JSON.stringify(TItems) +'}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            success: function (result) {
             //   console.log(result.InvoiceNo);
               
                //alert(result);
                    console.log(result);
                    $('#sum').val("");
                    $('#PaymentMethod').val("");
                    $("#txtMobileNo").val("");
                    $("#txtGST").val("");
                    $("#record tbody tr").remove();
                    alert("data saved successfully");
               // GetData();
                
               GenerateInvoice(result.InvoiceNo);
                   
                },
                error: function (result) {
                    alert(result);
                }
            });

    }

    function GenerateInvoice(InvoiceNo) {

       // alert(InvoiceNo);

       $.ajax({
            type:"POST",
           url: '@Url.Action("BillPreview", "Transaction")',
           data: '{InvoiceNo: ' + JSON.stringify(InvoiceNo) + '}',
            contentType: 'application/json; charset=utf-8',
            dataType:'html',
           success: function (result) {
               $('#myDiv').hide();
               $("#partialView").html(result);


            },
           error: function (result) {
              

            }
        });
    }

    function SaveCustomer() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveCustomerAjax", "Customer")',
            data: '{Id: ' + JSON.stringify($('#hdnCId').val()) + ',CustomerName: ' + JSON.stringify($('#txtCustomerName').val()) + ',MobileNo: ' + JSON.stringify($('#CMobileNo').val()) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#txtCustomerName').val("");
                $('#CMobileNo').val("");
                alert("data saved successfully");
                document.getElementById("myForm").style.display = "none";
               // closeForm();

            },
            error: function (result) {

            }
        });
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }

    function Remove() {
      //  alert("here")

        $("#record").on("click", "#DeleteButton", function () {
            $(this).closest("tr").remove();
            calc_total();
        })


    }

</script>
