@model ShowNow.ViewModels.UserAndCustomer


<div>
    <h2>List Customers</h2>
    <h4>Total Customers = @Model.customerCount</h4>
    <table class="table table-bordered table-condensed table-hover">
        <tr>
            <th>Customer ID</th>
            <th>Customer Name</th>
            <th>MobileNo</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @foreach (var customer in Model.lstCustomers)
        {
    <tr>
        <td>@customer.Id</td>
        <td>@customer.CustomerName</td>
        <td>@customer.MobileNo</td>
        <td>@customer.CreatedBy</td>
        <td>@customer.CreatedDate</td>
        <td><a href="#" onclick="GetCustomer(@customer.Id)">Update</a></td>
        <td><a href="#" onclick="DeleteCustomer(@customer.Id)">Delete</a></td>
    </tr>
        }
    </table>
</div>

<div>
    <h2>List Users</h2>
    <h4>Total Users = @Model.userCount</h4>
    <table class="table table-bordered table-condensed table-hover">
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email ID</th>
            <th>Mobile No</th>
            <th>City</th>
            <th>Store ID</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @foreach (var item in Model.lstUsers)
        {
    <tr>
        <td>@item.Id</td>
        <td>@item.UserName</td>
        <td>@item.EmailId</td>
        <td>@item.MobileNo</td>
        <td>@item.City</td>
        <td>@item.StoreId</td>
        <td>@item.CreatedBy</td>
        <td>@item.CreatedDate</td>
        <td><a href="#" onclick="GetUser(@item.Id)">Update</a></td>
        <td><a href="#" onclick="DeleteUser(@item.Id)">Delete</a></td>
    </tr>
        }
    </table>
</div>
