@using ShopNowBL.Models
@model List<tblUser>

@{
    ViewBag.Title = "AdminLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Login</h2>


<hr />

@Html.ActionLink("Add Cashier", "AddCashier", "User", new { @class = "btn btn-primary" })
<br /><br />

<table class="table table-bordered table-condensed table-hover">
    <tr>
        <th>Cashier ID</th>
        <th>Name</th>
        <th>Email ID</th>
        <th>Mobile No</th>
        <th>City</th>
        <th>Store ID</th>
        <th>Created By</th>
        <th>Created Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.UserName</td>
    <td>@item.EmailId</td>
    <td>@item.MobileNo</td>
    <td>@item.City</td>
    <td>@item.StoreId</td>
    <td>@item.CreatedBy</td>
    <td>@item.CreatedDate</td>
    <td><a href="/User/Details/@item.Id">Update</a></td>
    <td><a href=@Url.Action("Delete","User",new {id=item.Id})
                   new { onclick="return confirm('Are you sure want to delete?');">Delete</a></td>

</tr>
    }
</table>